<!DOCTYPE html>
<html lang="en">

<head>
  <title>Konstantin Velkov</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">KV</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#myPage">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Merchandise</a></li>
              <li><a href="#">Extras</a></li>
              <li><a href="#">Media</a></li>
            </ul>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <img src="./images/codeBackground.JPG" alt="code" width="100%">
  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="carousel-inner img" src="./images/codeBackground.JPG" alt="coder">
        <div class="carousel-caption">
          <h3>Coding solutions</h3>
          <p>Optimised and Tailored to Your needs</p>
        </div>      
      </div> -->

  <!--
      <div class="item">
        <img src="chicago.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago - A night we won't forget.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="la.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>LA</h3>
          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>
        </div>      
      </div>
    </div>
-->

  <!-- Left and right controls -->
  <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  <!-- </div> -->

  <!-- Container (The Band Section) -->
  <div class="carousel-caption" , style="background:rgba(45, 45, 47, 0.84);">
    <h1>Coding solutions</h1>
    <p>Optimised and Tailored to Your needs</p>
  </div>
  <div id="about" class="container text-center">
    <h3>About me</h3>
    <p>Hello!</p>
    <p>My name is Konstantin Velkov and I have been an avid coder since 2016. 
      My main interest and focal point of my experience are distributed systems.
      Completed through REST architecture and including database implementation they have given me an insight into the
      power and agility of the network. My curiosity found its continuity into the creation of Android applications, again mainly based on the client-server communication model.
      
      My first simple app mainly with demonstrative and know-how acquiring purposes, MealChooser can be found in the PlayStore.
      https://play.google.com/store/apps/developer?id=Konstantin+Velkov
    </p>
    <br>
    <div>
      <button id="dButton" class="btn" style="text-align: center;" type="download">Download my Resume</button>     
    </div>
  </div>

  <!-- Container (TOUR Section) -->
  <div id="services" class="bg-1">
    <!-- <div style="width: 20%; float:left">

    </div>

    <div style="width: 80%; float:right">

    </div> -->
    <div class="container">
      <h3 class="text-center">Services</h3>
      <div>
        <div>
          <img class="circular--square" src="/images/computer.png" height="200" width="200"
            style="background-color: white; float:left;" data-aos="fade-right" data-aos-duration="1500">
          <div style=" float:right;width: 30%; " data-aos="fade-left" data-aos-duration="1500">
            <h3>
              Web solutions
            </h3>
            <p class="fade_on_phone">
              Client-Server communication platforms including database information handling or simple webpages - you
              name it.
            </p>
          </div>
        </div>
        <br style="clear: both;">
        <div style="margin-top: 20px;">
          <img class="circular--square" src="/images/shopping_cart.png" height="200" width="200"
            style="background-color: white; float:left;" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="300"> 
          <div style=" float:right;width: 30%; " data-aos="fade-left" data-aos-duration="1500" data-aos-offset="300">
            <h3>
              E-commerce solutions
            </h3>
            <p class="fade_on_phone">
              WebShop platforms embedding safe checkout options.
            </p>
          </div>
        </div>
        <br style="clear: both;">
        <div style="margin-top: 20px;">
          <img class="circular--square" src="/images/phone.png" height="200" width="200"
            style="background-color: white; float:left;" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="300">
          <div style=" float:right;width: 30%;" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="300">
            <h3>
              Android Application solutions
            </h3>
            <p class="fade_on_phone">
              Android apps offering your functionality on all compatible Android devices.
            </p>
          </div>
        </div>
        <br style="clear: both;">
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="contact" class="container">
    <h3 class="text-center">Contact</h3>

    <div class="row">
      <div class="col-md-4">
        <p>Interested? Conact me at:</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Sofia, Bulgaria</p>
        <p><span class="glyphicon glyphicon-phone"></span> Phone: +359 88 941 5030</p>
        <p><span class="glyphicon glyphicon-envelope"></span> Email: konstantinmvelkov@gmail.com</p>
        <p><span class="glyphicon glyphicon-user"></span><a href= https://www.linkedin.com/in/konstantin-velkov> LinkedIn</a></p>
        
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button id="sendButton" class="btn pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- Footer -->
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <a href='https://pngtree.com/so/computer-clipart'>computer,phone,shopping-cart-clipart png from pngtree.com</a>
  </footer>

  <script>
    document.getElementById("sendButton").addEventListener("click", sendMail);
    document.getElementById("dButton").addEventListener("click", download);
    function download() {
      window.open('/request-cv');
    }
    function sendMail() {
      var comments = document.getElementById("comments").value;
      var name = document.getElementById("name").value;
      var eMail = document.getElementById("email").value;
      const info = { comments, name, eMail };
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(info)
      };
      fetch('/submit', options);
    }

    $(document).ready(function () {
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();

      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
  </script>
  <script>
    AOS.init();
  </script>
</body>

</html>